body{
    font-family: '닉스곤체 m 2.0';
    color: #011279;
    /* background-color: rgb(191, 213, 255); */
}
#logo{
    font-size: 50px;
    position: absolute;
    top: 20%;
    left: 20%;
}
.all-index{
    font-size: 20px;
    line-height: 50px;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 20%;
}
nav a{
    color: #011279;
    text-decoration: none;
}
.all-index nav a:hover {
    color:gray;
    transition: 0.1s;
}

#logo-box{
    background-color: #011279;
    position: absolute;
    top: 30%;
    left: 50%;
}
#logo-box img{
    width: 400px;
    height: 350px;
}